.card {

    cursor: pointer;
    background-color: rgb(85, 193, 184);
  }
  
  .card .favorite {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .card .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card .image img {
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    text-align: center;
  }
  .card .content .rate {
    margin-top: 10px;
    font-size: larger;
    font-weight: bold;
  }
  .card .content .kilometer {
    font-size: medium;
  }
  .card .content .name {
    font-size: small;
  }
  .card .date {
    display: flex;
    justify-content: flex-end;
    font-size: small;
  }
  
  .recommendations {
    margin: 16px 16px 24px;
  }
  
  .recommendations .heading span {
    font-size: 24px;
    color: #002f34;
  }
  .create  {
    display: flex;
    position: fixed;
    top: 20%;
    right: -5%;
    margin: 0.5rem;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #002f34;
  }
  .text{
   color: rgb(77, 82, 23);
   font-weight: 500;
  }
  .table{
    width: max-content;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
      
  }